body{
margin:0;
background:#0e0e11;
color:#fff;
font-family:Arial,Helvetica,sans-serif
}
button,input,select{
padding:10px;
margin:5px;
border-radius:8px;
border:none
}
button{background:#6c63ff;color:white}
.card{background:#1c1c24;padding:15px;border-radius:14px;margin:10px}
.hidden{display:none}